#personalDetails,
#education {
  padding: 24px;
  border: 1px solid black;
  border-radius: 6px;
}

#personalDetails > div,
#education > div {
  display: flex;
  flex-direction: column;

  margin-top: 12px;
}

#education > div:last-child {
  flex-direction: row;
  justify-content: end;
  gap: 12px;
}

input {
  outline: 2px solid transparent;
  border: none;
  background-color: var(--input-color);
  padding: 4px 12px;
  line-height: 1.5;

  font-size: 1rem;
  border-radius: 4px;
  transition: outline-color 0.25s;
}

input:focus,
input:target {
  outline-color: #7c3aed;
}

label {
  font-weight: bold;
  color: var(--label-color);
  font-size: 1rem;
}

button[type="submit"] {
  background-color: #3b82f6;
  color: white;
}

.education-inactive {
  border: 1px solid black;
  padding: 12px;
  margin: 12px 0px;
}

.formHeaderContainer {
  display: flex;
  justify-content: space-between;
  margin: 16px 0px;
}

.formHeaderContainer button {
  background: none;
  border: none;
  transition: transform 0.5s;
}

.buttonDown {
  transform: rotate(-180deg);
}

.formHeaderContainer button:focus {
  border: none;
  outline: none;
}

.hidden {
  display: none;
}

.formEditList {
  visibility: visible;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform-origin: bottom;
  animation: slide-in 1s ease-out;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    /* transform: */
    opacity: 1;
  }
}

.add-btn {
  margin-top: 12px;
}
